body{
  background: url("https://i.imgur.com/ZhpCbHQ.png") repeat center center fixed;
  background-size: 50%;
  font-family: 'Sedgwick Ave Display', cursive;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.modal{
  margin-left: 87%;
}

.modal img:hover{
  cursor: pointer;
}

#modal-open {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
  display: block;
}

#modal-textbox {
	background-color: white;
	width: 600px;
  text-align: left;
  border: 10px black dashed;
	margin: 85px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#modal-textbox h1{
  margin-top: -6%;
  text-align: center;
}

#modal-textbox p{
  margin-left: 5%;
  margin-right: 4%;
}

#modal-textbox img{
  margin-top: 5%;
  margin-left: 80%;
}

.scoreContainer{
  display: flex;
  justify-content: space-around;
}

.playerContainer{
  display: inline-block;
  background-color: white;
  border: 10px black dashed;
  width: 250px;
  text-align: center;
}

.playerContainer img:hover{
  cursor: pointer;
}

.timer{
  text-align: center;
  background-color: white;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 10px dashed black;
  margin-top: 3%;
}

.buttons{
  text-align: center;
  margin-top: 3%;
}

.tools{
  margin-top: 4%;
}

.buttons:hover{
  cursor: pointer;
}

.canvas{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}

.canvas img:hover{
  cursor: pointer;
}

.word{
  background-color: white;
  margin-top: 2%;
  border-top: 10px black dashed;
  border-left: 10px black dashed;
  border-right: 10px black dashed;
  width: 480px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

.canvasText{
  margin-top: -5%;
  margin-bottom: 4%;
  background-color: white;
  border-bottom: 10px black dashed;
  border-left: 10px black dashed;
  border-right: 10px black dashed;
  width: 500px;
  height: 90px;
  box-sizing: border-box;
}

.palette{
  margin-top: 3%;
}

.palette button{
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.black{
  background-color: rgb(0,0,0);
}

.grey{
  background-color: rgb(153,153,153);
}

.white{
  background-color: rgb(255,255,255);
}

.red{
  background-color: rgb(255,0,0);
}

.orange{
  background-color: rgb(255, 127, 0	);
}

.yellow{
  background-color: rgb(255, 255, 0	);
}

.green{
  background-color: rgb(0,255,0);
}

.blue{
  background-color: rgb(0,0,255);
}

.indigo{
  background-color: rgb(75, 0, 130	);
}

.violet{
  background-color: rgb(148, 0, 211	);
}

.newCanvas{
  margin-top: 3%;
  margin-bottom: 5%;
  border: 10px black dashed;
  width: 500px;
  box-sizing: border-box;
}
